@model CurricularUnitFormManager.Models.CurricularUnit.AbstractCurricularUnitForm

@{
    ViewBag.Title = "Cancel Proposal";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Cancel</h2>
<h2>ProposalCurricularUnitForm</h2>
<h1>Proposta de Unidade Curricular</h1>

<div class="container-fluid">
    <div class="content">
        <div class="clearfix">
            @using (Html.BeginForm("CancelConfirmation", "Proposal", FormMethod.Post, new { id = "FormCancelProposal" }))
            {
                Html.RenderPartial("_GenericCurricularUnitForm", Model);
                <p>
                    Version:@Model.Version<br />
                    Owner:@Model.Username<br />
                    Timestamp:@Model.UserTimeStamp<br />
                    IsValidated: @Model.IsValid
                </p>
                @Html.Hidden("acr", Model.CourseFile.CUnit.Acronym);
                @Html.Hidden("version", Model.Version);
                <div class="input"><input type='submit' value="Cancel" /></div>
            }
        </div>
    </div>
</div>